<a href="https://colab.research.google.com/github/Jegovila/SI4/blob/main/0%20Introducci%C3%B3n/C%C3%B3digos/Python/Introducci%C3%B3n_a_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Series

In [ ]:
s = pd.Series([3,-5,7,4], index=['a','b','c','d'])
s # s es una serie, un arreglo de números indexados

Podemos acceder a los elementos de la serie como lo haríamos con un diccionario

In [ ]:
s['a']

Asignaciones:

In [ ]:
s['b'] = -7
s

soltar elemento

In [ ]:
s.drop(['a'])

# Dataframe

Otra estructura de pandas es el "dataframe"

In [6]:
data = {'Nombre' : ['Javier','Carlos','José','Fabiola'],
        'Edad' : [28,25,56,21],
        'Calificación' : [100,89,48,75]}

In [ ]:
df = pd.DataFrame(data)
print(type(df))
print(df)

In [ ]:
df

In [ ]:
df.iat[0,0]

In [ ]:
df.iat[1,2]

In [ ]:
print(df.at[1, 'Nombre'])
print(df.at[2, 'Calificación'])

Asignaciones

In [ ]:
df.at[0, 'Nombre'] = 'Enrique'
df

soltar elemento

In [ ]:
df.drop('Calificación', axis = 1) # 0 -> registro   1 -> columna

Esto NO modifica el dataframe, es decir, no estamos eliminando los elementos del dataframe

In [ ]:
df

Si queremos hacer modificaciones, haríamos algo como

In [ ]:
df2 = df.drop('Edad', axis=1)
df2

# Leer archivos

In [ ]:
!wget -nc "https://raw.githubusercontent.com/Jegovila/SI4/main/0%20Introducci%C3%B3n/C%C3%B3digos/Python/countries.csv"

In [ ]:
df = pd.read_csv('countries.csv')
df

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(10)

In [ ]:
df.shape

In [ ]:
df.columns

Recomendable siempre revisar los tipos de datos en las columnas con:

In [ ]:
df.info()

Importante: tener en cuenta que si una columna debe tener números (como la columna de años) y el Dtype fuera de tipo object (NO int64 NI float64, etc), es probable que haya algún dato incorrecto (corrupto)

Con "describe" obtendremos las estadísticas básicas de todas las variables que sean numéricas.

In [ ]:
df.describe()

Es posbile manejar el dataFrame como arreglo de numpy con:

In [60]:
df.values

array([['Afghanistan', 1952, 8425333.0, 'Asia', 28.801, 779.4453145],
       ['Afghanistan', 1957, 9240934.0, 'Asia', 30.332, 820.8530296],
       ['Afghanistan', 1962, 10267083.0, 'Asia', 31.997, 853.10071],
       ...,
       ['Zimbabwe', 1997, 11404948.0, 'Africa', 46.809, 792.4499603],
       ['Zimbabwe', 2002, 11926563.0, 'Africa', 39.989, 672.0386227],
       ['Zimbabwe', 2007, 12311143.0, 'Africa', 43.487, 469.7092981]],
      dtype=object)

Será de tipo objecto a menos que solo contenga números.

In [ ]:
df.mean()

In [ ]:
df.max()

In [ ]:
df = df.rename(columns={'gdpPercap':'PIB'})
df

In [ ]:
df['country'] # esto es una serie (notar que no imprime el encabezado)

In [ ]:
#o bien
df.country

los nombres de las columnas se vuelven atributos de esta clase, cuidar que el nombre de la columna no sea igual que una función dentro de los métodos del dataframe, por eso se recomienda usar la primera opción (df['country']).

Si ponemos doble corchete ya no será una serie, sino que será un dataframe

In [ ]:
df2 = df[['country', 'PIB']]
df2

In [ ]:
df.replace(1952,'one')

De nuevo, esto no reemplaza el df

In [ ]:
df

si queremos modificar el df será con df = df.replace(1952,'one')

# Filtros

Primero con una serie

In [ ]:
s

In [ ]:
s > 5

Ahora con el dataframe. Comparamos la serie df.country, con la cadena 'Mexico'

In [ ]:
df[df.country == 'Mexico']

In [ ]:
dfmex = df[df.country == 'Mexico']
dfmex

dos filtros a la vez

In [ ]:
df[(df.country == 'Mexico') & (df.year >= 1977)]

O bien

In [ ]:
df[df.country == 'Mexico'][df.year >= 1977] #primero recortamos con Mexico y el resultado con >=1977

In [ ]:
df2 = df[df.country == 'Mexico'][df.year >= 1977]
df2

In [ ]:
df2 = df2.reset_index()
df2

In [ ]:
df2 = df2.drop('index',axis=1)
df2

In [ ]:
df2.sort_values('PIB')

In [ ]:
df.hist()

In [ ]:
df[df.country == 'Mexico'].plot(x='year', y='PIB')

In [ ]:
pd.plotting.scatter_matrix(df)

Notar que graficar una variable consigo misma no tendría sentido (nos daría una línea) y por eso mejor nos despliega el histograma

In [ ]:
pd.plotting.scatter_matrix(df[df.country=='Mexico'])

# Práctica

1. ¿Cuántos y cuales países tienen una esperanza de vida mayor o igual a 80 en el 2002?

2. ¿Pais con el mayor Producto Interno Bruto?

3. ¿En qué año México sobrepaso los 70 millones de habitantes?